@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,400&family=Inter:wght@300;400;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Playfair Display", serif;
  
  --color-ink: #1A1A1A;
  --color-paper: #FDFCFB;
  --color-saffron: #F28C28;
}

@layer base {
  body {
    @apply bg-paper text-ink font-sans antialiased;
  }
}

@layer components {
  .maharashtra-grid {
    background-image: radial-gradient(#1a1a1a 0.5px, transparent 0.5px);
    background-size: 24px 24px;
    opacity: 0.05;
  }
}
